/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

body {
    font-family: 'Outfit', sans-serif;
    color: #5F564D;
}

h1,
h2 {
    font-family: 'Young Serif', sans-serif;
}

h1 {
    font-size: 2.25rem;
    font-weight: 400;
    color: #312E2C;
    line-height: 100%;
}

h2 {
    font-size: 1.75rem;
    font-weight: 400;
    color: #854632;
    padding-bottom: 1.5rem;
}

.content {
    padding: 2.5rem 2rem;
    display: grid;
    gap: 2rem;
}

.blurb {
    display: grid;
    gap: 1.5rem;
}

section {
    background-color: #FFF7FB;
    padding: 1.5rem;
    border-radius: 0.75rem;
}

section>h2 {
    color: #7A284E;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

li::marker {
    color: #854632;
}

section>li::marker {
    color: #7A284E;
}

ol li::marker {
    font-weight: 700;
}

ul li::marker {
    font-size: 0.75rem;
}

ol,
ul {
    padding-left: 1.5em;
}

ul li,
ol li {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

ul li:last-of-type,
ol li:last-of-type {
    padding-bottom: 0rem;
}

hr {
    border: 1px solid #E3DDD7;
}

.nutrition>p {
    padding-bottom: 1.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

th {
    padding-left: 2rem;
    font-weight: 400;
}

td {
    padding-left: 1.25rem;
    padding-right: 2rem;
    font-weight: 700;
    color: #854632;
}

th,
td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

tr:first-child>td,
tr:first-child>th {
    padding-top: 0;
}

tr:last-child>td,
tr:last-child>th {
    padding-bottom: 0;
}

tr {
    border-bottom: 1px solid #E3DDD7;
}

tr:last-child {
    border-bottom: none;
}

@media (min-width: 600px) {
    body {
        background-color: #F3E5D7;
    }

    main {
        background-color: #FFFFFF;
        max-width: 46rem;
        display: grid;
        place-items: center;
        margin-inline: auto;
        margin-top: 7.75rem;
        margin-bottom: 7.75rem;
        border-radius: 1.5rem;
    }

    .image {
        padding-top: 2.5rem;
        padding-inline: 2.5rem;
    }

    img {
        border-radius: 0.75rem;
    }

    .content {
        padding: 2.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    section {
        padding: 1.75rem;
    }
}